@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome to Ardites</h1>
    <p class="lead">INNOVATION, INFORMATION AND EXPERIENCE</p>
    <p><a href="https://arditesbd.com/" class="btn btn-primary btn-lg">Learn more about Ardites &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Services</h2>
        <p>
            
        </p>
        <p><a class="btn btn-default" href="https://arditesbd.com/services/">Details &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Products</h2>
        <p></p>
        <p><a class="btn btn-default" href="https://arditesbd.com/product-services/">Details &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Contact Us</h2>
        <p></p>
        <p><a class="btn btn-default" href="https://arditesbd.com/contact/">Here &raquo;</a></p>
    </div>
</div>